colorama==0.4.6
-e git+https://github.com/actx4gh/confumo.git@21731ccccca6b572ea0078e09e323d965d9c226c#egg=confumo
exceptiongroup==1.2.2
-e git+https://github.com/actx4gh/GlavnaQt.git@ee9ed6ee9fe4e0a5030739e39e153f249ee72e19#egg=GlavnaQt
iniconfig==2.0.0
natsort==8.4.0
packaging==24.1
pluggy==1.5.0
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
pytest==8.3.2
PyYAML==6.0.2
tomli==2.0.1
watchdog==5.0.3
