colorama==0.4.6
-e git+https://github.com/actx4gh/confumo.git@96e8b41dc88fd0a993b9a2c16e18b87af526048c#egg=confumo
exceptiongroup==1.2.2
-e git+https://github.com/actx4gh/GlavnaQt.git@f87bc2ef620da432068e239351ee67e44159fb8b#egg=GlavnaQt
iniconfig==2.0.0
natsort==8.4.0
packaging==24.1
pluggy==1.5.0
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
pytest==8.3.2
PyYAML==6.0.2
tomli==2.0.1
watchdog==5.0.3
